<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>acinecism</string>
		<key>content</key>
		<string>影评</string>
		<key>needshow</key>
		<true/>
		<key>hasmore</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>collection</string>
		<key>content</key>
		<string>影单</string>
        <key>needshow</key>
        <false/>
		<key>hasmore</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<string>R_Message</string>
		<key>content</key>
		<string>短片</string>
        <key>needshow</key>
        <true/>
        <key>hasmore</key>
        <false/>
	</dict>
	<dict>
		<key>type</key>
		<string>R_Message</string>
		<key>content</key>
		<string>杂粮</string>
        <key>needshow</key>
        <true/>
        <key>hasmore</key>
        <false/>
	</dict>
	<dict>
		<key>type</key>
		<string>R_Message</string>
		<key>content</key>
		<string>画报</string>
        <key>needshow</key>
        <true/>
        <key>hasmore</key>
        <false/>
	</dict>
	<dict>
		<key>type</key>
		<string>R_Message</string>
		<key>content</key>
		<string>台词</string>
        <key>needshow</key>
        <false/>
        <key>hasmore</key>
        <true/>
	</dict>
	<dict>
		<key>type</key>
		<string>R_Message</string>
		<key>content</key>
		<string>音乐</string>
        <key>needshow</key>
        <false/>
        <key>hasmore</key>
        <true/>
	</dict>
	<dict>
		<key>type</key>
		<string>R_Message</string>
		<key>content</key>
		<string>沙龙</string>
        <key>needshow</key>
        <true/>
        <key>hasmore</key>
        <false/>
	</dict>
</array>
</plist>
