<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>mv</string>
		<key>titleContent</key>
		<string>上映</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>record</string>
		<key>titleContent</key>
		<string>短片</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>starmovie</string>
		<key>titleContent</key>
		<string>影单</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>trailer</string>
		<key>titleContent</key>
		<string>沙龙</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>xilieju</string>
		<key>titleContent</key>
		<string>影库</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>youth</string>
		<key>titleContent</key>
		<string>电影原声</string>
	</dict>
</array>
</plist>
